:root {
  --background-color: #280044;
}

body {
  overscroll-behavior: none;
}

* {
  margin: 0;
  padding: 0;
}

/******* oracle ********/
.oracle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 16px;
}

.oracle .message {
  border: 4px solid #fffb;
  background-color: #fff4;
  border-radius: 32px;
  width: 320px;
  padding: 0 32px;
  min-height: 120px;

  color: #fff;
  text-align: center;

  font-size: 16px;
  font-weight: bold;

  /* center text */
  display: grid;
  place-items: center;
}

.oracle img {
  width: 180px;
  animation: 1.5s ease-in-out 0s infinite alternate float;
}

.grid {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 3fr 1fr;
  background-color: var(--background-color);
}

/****** Board related CSS ******/
/* board is a flex container */
.grid > .board {
  background-color: var(--lighter-background-color);
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  row-gap: 4vh;
}

/* each card has width 10% of the window width */
.board > .card {
  width: 9%;
  height: auto;
  text-align: center;
}
/* card width is 100% of the card width */
.card-img {
  width: 65%;
  height: 95%;
}

/********** Player **************/

.player {
  position: fixed;
  inset: auto 8px 8px 8px;
  max-width: 600px;
  height: 100px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.player .bars {
  flex: 1;
}

.player img {
  width: 100px;
  height: auto;
  background-color: #fff5;
}

.luck-bar,
.oscillating-bar {
  height: 24px;
  position: relative;
}

.luck-bar {
  background-color: #0905;
}

.luck-bar .fill {
  background-color: #090;
  height: 100%;
  transition: width 0.3s;
}

/**** Oscillating bar ****/
.oscillating-bar {
  background-color: #d555;
  margin-top: 8px;
}

.oscillating-bar .fill {
  background-color: #d55;
  height: 100%;
  animation: 0.7s linear 0s infinite alternate oscillate;
}

.label {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Mobile Display */
@media only screen and (max-width: 600px) {
  .board > .card {
    width: 15%;
    height: auto;
  }

  .player img {
    width: 60px;
  }

  .oracle img {
    width: 60px;
  }
}

@keyframes oscillate {
  0% {
    width: 15%;
  }

  100% {
    width: 85%;
  }
}

@keyframes float {
  0% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(8px);
  }
}
