body {
  overscroll-behavior: none;
  background: radial-gradient(circle, #280044, #0b004a);
}

* {
  margin: 0;
  padding: 0;
}

/******* oracle ********/
.oracle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 16px;
}

.oracle .message {
  border: 4px solid #fffb;
  background-color: #fff4;
  border-radius: 32px;
  width: 320px;
  padding: 0 32px;
  min-height: 120px;

  color: #fff;
  text-align: center;

  font-size: 16px;
  font-weight: bold;

  /* center text */
  display: grid;
  place-items: center;
}

.oracle img {
  width: 180px;
  animation: 1.5s ease-in-out 0s infinite alternate float;
}

.grid {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 3fr 1fr;
}

/****** Board related CSS ******/
/* board is a flex container */
.grid > .board {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  row-gap: 4vh;
}

/* each card has width 10% of the window width */
.board > .card {
  width: 9%;
  height: auto;
  text-align: center;
}
/* card width is 100% of the card width */
.card-img {
  width: 65%;
  height: 95%;
}

/********** Player **************/

.player {
  position: fixed;
  inset: auto 8px 8px 8px;
  max-width: 600px;
  height: 100px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.player .bars {
  flex: 1;
}

.player img {
  width: 100px;
  height: auto;
}

.luck-bar,
.oscillating-bar {
  height: 24px;
  position: relative;
}

.luck-bar {
  background-color: #0905;
}

.luck-bar .fill {
  background-color: #090;
  height: 100%;
  transition: width 0.3s;
}

/**** Oscillating bar ****/
.oscillating-bar {
  background-color: #d555;
  margin-top: 8px;
}

.oscillating-bar .fill {
  background-color: #d55;
  height: 100%;
  animation: 0.7s linear 0s infinite alternate oscillate;
}

.label {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Mobile Display */
@media only screen and (max-width: 600px) {
  .board > .card {
    width: 15%;
    height: auto;
  }

  .player img {
    width: 60px;
  }

  .oracle img {
    width: 60px;
  }
}

@keyframes oscillate {
  0% {
    width: 15%;
  }

  100% {
    width: 85%;
  }
}

@keyframes float {
  0% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(8px);
  }
}

/*Change profile picture styling*/
.profile-pic {
  color: transparent;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}
.profile-pic input {
  display: none;
}
.profile-pic img {
  position: relative;
  max-height: 76px;
  min-height: 76px;
  right: 50%;
  transform: translateX(50%);
  object-fit: fill;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
  border-radius: 100px;
  z-index: 0;
}
.profile-pic .-label {
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
  text-align: center;
}
.profile-pic:hover .-label {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  color: #fafafa;
  transition: background-color 0.2s ease-in-out;
  border-radius: 100px;
  margin-bottom: 0;
}
.profile-pic span {
  position: relative;
  display: flex;
  padding: 0.2em;
  height: 2em;
}

/* instructions */

.box {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  font-size: 17px;
  align-items: center;
}
.box a {
  display: inline-block;
  background-color: #fff;
  padding: 15px;
  border-radius: 3px;
}
.howto-modal {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff3;
  transition: all 0.4s;
  visibility: hidden;
  opacity: 0;
}
.content {
  position: absolute;
  background: white;
  width: 660px;
  padding: 1em 2em;
  border-radius: 4px;
}
.howto-modal:target {
  visibility: visible;
  opacity: 1;
}
.box-close {
  position: absolute;
  top: 0;
  right: 15px;
  color: #fe0606;
  text-decoration: none;
  font-size: 30px;
}
.instruct {
  color: black;
  font-size: 2.5rem;
  align-items: center;
}
ol {
  font-size: 1.5rem;
  display: table;
  margin-left: auto;
  margin-right: auto;
  list-style-position: inside;
  color: #6c1960;
}
.buttons {
  position: fixed;
  bottom: 0%;
  right: 0%;
  max-width: 40rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}
.buttons > * {
  flex: 1;
  text-align: center;
  font-size: 1rem;
  color: #fff9;
  background-color: #fff0;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  border: 3px solid #fff3;
  transition: all 200ms;
}
.buttons > *:hover {
  background-color: #fff1;
  color: #fff;
  border-color: #fff;
  scale: 1.05;
}
.buttons > *:active {
  scale: 0.98;
}
