body {
    font-family: Arial, sans-serif;
}

.inst-page {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 30%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

.content {
    position: relative;
}

.close-button {
    position: absolute;
    right: 5px;
    font-size: 24px;
    color: #888;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.close-button:hover {
    color: #333;
}

.title {
    text-align: center;
    margin-top: 0;
}

