/* Individual Card Positions */
.card {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

/* Card Images */
img {
  max-width: 100%;
  height: auto;
}

/* Text of the cards Positions */
.text-portion {
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-size: 1.2rem;
}

/* buttons and mobile card shouldn't be displayed in web version */
#card-4 {
  display: none;
}
button{
  display: none;
}

/* Mobile Display */
/*if the screen is less than or equal to 600px*/
@media only screen and (max-width: 600px) {

  /* only one card should show */
  .card {
    display: none;
  }

  /* card shown in mobile version */
  #card-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px; 
  }

  /*button features for mobile*/
  button {
    display: flex;
    justify-content: center;
    background-color: purple;
    color: white;
  }

  /* Previous Button */
  #button-2 {
    position: fixed;
    bottom: 5px;
  }
  
  /* Next Button */
  #button-1 {
    position: fixed;
    top: 5px;
  }
  
}